{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>

        <ul class="hidden-links hidden"></ul>
        
        <!-- Dark Mode Toggle in Header -->
        <div class="header-dark-mode-toggle">
          <div class="toggle-switch-container-header">
            <input type="checkbox" id="nightModeToggleHeader" class="toggle-switch-input-header" aria-label="Toggle night mode" checked="false">
            <label for="nightModeToggleHeader" class="toggle-switch-label-header">
              <div class="toggle-switch-track-header">
                <div class="toggle-switch-thumb-header">
                  <i class="fas fa-moon toggle-icon-moon-header"></i>
                  <i class="fas fa-sun toggle-icon-sun-header"></i>
                </div>
              </div>
            </label>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>